/*clases para la página RIPA*/
.enlace_azul{
color:#26435b !important;
}
.blockquote{
    padding: 10px 30px;
    margin: 10px 0 20px;
    margin-left: 0px !important;
    border-left: 5px solid #eee;
    list-style-type: lower-alpha !important;
}
.blockquote_romana{
    padding: 10px 30px;
    margin: 10px 0 20px;
    margin-left: 0px !important;
    border-left: 5px solid #eee;
    list-style-type: lower-roman !important;
}

/*clases para curso patrón de yate*/
.recuadro_gris{
    background-color: #DADADA !important;
    border: dashed;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    font-weight:bold;
    font-style:italic;
    padding: 5px;
}

.recuadro_gris_margin_top{
    background-color: #DADADA !important;
    border: dashed;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    font-weight:bold;
    font-style:italic;
    padding: 5px;
    margin-top:2%;
    
}
.formula_patron{
    font-weight:bold;
    font-style:italic;
}
.ul{
    margin-left: 20px;
    list-style: disc;
}
.ul_sin_item{
    margin-left: 20px;
    list-style: none !important;
}
.cuadrado_patron{
    border:1px solid;
}
.dentro_cuadrado{
    padding:1%;
}
.titulos_principales{
    color:#26435b !important;
    text-decoration:underline;
}
.p_rojo{
    color:red;
}
.cuadro_rojo{
    background-color:red;
    color:white;
    padding:1%;
    font-weight:bold;
}
.imagen_patron_40{
    width:40%;
    display: block;
    margin:auto;
}

.icono_patron_20{
    width:fit-content;
}
.fit_content{
    width:fit-content;
}
.imagen_patron_100{
    width:100%;
}
.imagen_patron_60{
    width:60%;
    display: block;
    margin:auto;
}
.dos_imagenes{
    display: flex;
    justify-content: space-evenly;
    margin-top:3%;
}
.texto_i_imagen{
    display: flex;
}
.aro_salvavidas{
    width:25%;
}

#barco_hundido{
    width:40%;
    display:block;
    margin:auto;
}

.height_fit_margin_top_10{
    height:fit-content;
    margin-top:10%;
}
.height_fit_margin_top_5{
    height:fit-content;
    margin-top:5%;
}
.float_right{
    float:right;
}
.float_right_margin_right{
    float:right;
    margin-right:15%;
}
.margin_top_10{
    margin-top:10px;
}
.margin_bottom_10{
    margin-bottom:10px;
}
.margin_top_padding_bottom_10{
    margin-top:10px;
    padding-bottom:10px;
}
.cuadro_azul{
    background-color: rgb(208,235,242);
    font-weight:bold;
    width:fit-content;
}
.sin_estilo{
    font-weight:normal;
}
.tamaño_mitad{
    width:50%;
}
.tamaño_50{
    display: block;
    margin:auto;
    width:50%;
}
.tamaño_80{
    width:80%;
    margin:auto;
    display:block;
}
.tamaño_ajustado_centrado{
    width:fit-content;
    display:block;
    margin:auto;
}
.texto_75{
    font-size:75%;
}
.padding_1_bottom_11{
    padding:1%;
    padding-bottom:11%;
}
.imagen_centrada_margin_top_4{
    display:block;
    margin:auto;
    margin-top:4%;
}
#balsa_salvavidas{
    width:35%;
    margin: 2% 0 5% 30%;
}
#tabla_VHF{
    display: block;
    margin:auto;
    width:50%;
    margin-top:4%;
}
#walkie-partes{
    float:right;
    margin-left:1%;
}
.imagen_centrada_margin_top{
    display:block;
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
}
.imagen_centrada{
    display:block;
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
}
.margin_auto{
    margin:auto;
}

/*clases y id TEMARIO PARA PATRÓN PROFESIONAL DE EMBARCACIONES DE RECREO*/

#caja_inicial_actualizacion_pper{
    text-align:right;
    color:cornflowerblue;
    margin-top:30%;
    width:90%;
}
#ministerio_fomento{
    margin-top:3%;
}
.text_align_center{
    text-align:center;
}
.margin_top_3{
    margin-top:3%;
}
.margin_bottom_2_left_1{
    margin-bottom:2%;
    margin-left:1%;
}
.ol_lower_alpha{
    list-style:lower-alpha !important;
}
.ol_upper_alpha{
    list-style:upper-alpha !important;
}
.margin_top_5{
    margin-top:5%;
}
.ol_list_style_decimal{
    list-style:decimal !important;
}